/* Import Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Inter", sans-serif !important;
}

.trade-route {
  stroke-dasharray: 12;
  animation: flow 2s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}